<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
  @if (loading()) {
    <mat-spinner></mat-spinner>
  } @else {
    @for (slot of slots(); track slot.id) {
      <div
        class="h-55 rounded-xl border-2 flex flex-col justify-between p-4 transition select-none"
        [class.!bg-green-50]="slot.status === 'available'"
        [class.!border-green-600]="slot.status === 'available'"
        [class.!text-green-700]="slot.status === 'available'"
        [class.cursor-pointer]="slot.status === 'available'"
        [class.hover:!bg-green-100]="slot.status === 'available'"
        [class.!bg-red-50]="slot.status === 'occupied'"
        [class.!border-red-500]="slot.status === 'occupied'"
        [class.!text-red-700]="slot.status === 'occupied'"
        [class.!bg-yellow-50]="slot.status === 'reserved'"
        [class.!border-yellow-500]="slot.status === 'reserved'"
        [class.!text-yellow-600]="slot.status === 'reserved'"
        [class.!bg-gray-200]="slot.status === 'maintenance'"
        [class.!border-gray-400]="slot.status === 'maintenance'"
        [class.!text-gray-600]="slot.status === 'maintenance'"
        [class.pointer-events-none]="
          slot.status === 'occupied' ||
          slot.status === 'maintenance' ||
          (slot.status === 'reserved' && slot.isPaid)
        "
        (click)="slot.status !== 'reserved' ? onSlotClick(slot) : null"
      >
        <div class="flex justify-center mt-3">
          <mat-icon
            class="icon-display"
            [class.!text-green-600]="slot.status === 'available'"
            [class.!text-red-500]="slot.status === 'occupied'"
            [class.!text-yellow-500]="slot.status === 'reserved'"
            [class.!text-gray-500]="slot.status === 'maintenance'"
          >
            {{
              slot.status === 'occupied'
                ? 'directions_car'
                : slot.status === 'reserved'
                  ? 'beenhere'
                  : 'local_parking'
            }}
          </mat-icon>
        </div>

        <div class="text-center font-semibold text-xl">{{ slot.name }}</div>

        <div class="text-center text-sm font-medium">
          {{ slot.status | titlecase }} {{ slot.plate ? `for ${slot.plate}` : ' ' }}
        </div>

        @if (slot.carType) {
          <div class="text-xs text-center">
            {{ slot.carType }}

            @if (slot.paymentMethod === 'payAtTheCounter' && !slot.isPaid) {
              <span class="flex items-center justify-center text-rose-500"> Pending Payment </span>
            }
          </div>
        }

        @if (
          slot.status === 'reserved' &&
          !slot.isPaid &&
          slot.userId === userId() &&
          slot.paymentMethod === 'paypal'
        ) {
          <div class="mt-2 pointer-events-auto">
            <app-paypal-reservation-button [slot]="slot" />
          </div>
        }
      </div>
    }
  }
</div>
