<table mat-table #table [dataSource]="dataSource()!" [trackBy]="trackById" class="app-table">
  <ng-container matColumnDef="plateNumber">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Plate Number
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4>{{ element.licensePlate }}</h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="carType">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Car Type
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4>{{ element.carType }}</h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="slotName">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Slot Name
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4>{{ element.slotName }}</h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="timeStart">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Time Started
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4>{{ element.startTime | date: 'mediumTime' }}</h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Time Ended
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4>{{ element.endTime | date: 'mediumTime' }}</h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="paymentType">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Payment Type
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4>{{ element.paymentMethod }}</h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Payment Status
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <h4
        [ngClass]="{
          'text-green-600': element.paymentStatus === 'PAID',
          'text-yellow-500': element.paymentStatus === 'PENDING',
          'text-red-500': element.paymentStatus === 'CANCELED',
        }"
        class="font-semibold"
      >
        {{ element.paymentStatus }}
      </h4>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="app-table__header app-table__header--with-left-border"
    >
      @if (skeleton()) {
        <app-skeleton-text
          [lines]="1"
          [maxLineWidth]="100"
          [minLineWidth]="200"
        ></app-skeleton-text>
      } @else {
        Actions
      }
    </th>

    <td mat-cell *matCellDef="let element">
      <div class="flex space-x-4 items-center gap-11">
        <div matTooltip="Assign a color first">
          <button mat-flat-button color="warn" (click)="handleDelete(element)">Delete</button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true" class="bg-gray-100"></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns()"
    class="hover:bg-gray-50 transition-colors duration-150"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell text-center py-6" colspan="999">
      @if (!skeleton()) {
        <app-empty-history-message
          [message]="'No record of Reservation'"
          [icon]="'no_crash'"
        ></app-empty-history-message>
      } @else {
        <div class="mt-10 flex flex-col justify-center items-center h-full w-full mb-10">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      }
    </td>
  </tr>
</table>
